body {
  color: #303846;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.bgc-grey {
  background-color: #f7f7f7;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: fixed;
  padding: 5px 20px;
  left: 0;
  top: 0;
  right: 0;
  background: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img-wrap {
  width: 50px;
  height: 50px;
}

.logo-title {
  font-size: 22px;
  margin-left: 15px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu-item {
  margin-left: 10px;
}

.menu-item a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  transition: .3s;
}

.menu-item:hover a {
  color: deepskyblue;
}

.preview {
  padding: 120px 0 60px;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.preview-logo {
  width: 150px;
  height: 150px;
}

.preview-title {
  font-size: 3em;
  color: white;
  margin-top: 15px;
}

.preview-subtitle {
  font-size: 24px;
  color: #fff;
  margin-top: 5px
}

.btn {
  outline: none;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  opacity: 0.6;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.advantages {
  padding: 60px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  flex: 0 0 30%;
  padding: 0 5px;
  word-break: break-word;
}

.title {
  font-size: 1.8em;
}

.describe {
  margin-top: 10px;
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 0;
}

.about-description {
  max-width: 45%;
}

.about-img {
  max-width: 30%;
}

#form {
  padding: 60px 0;
}

.form-container {
  max-width: 50vw;
  margin: auto;
}

.form-title {
  text-align: center;
}

.form {
  margin-top: 30px;
}

.form:nth-child(2) fieldset {
  margin-top: 20px;
}

fieldset {
  border: 2px solid #09d3ac;
  border-radius: 5px;
}

legend {
  margin-left: 15px;
  padding: 0 2px;
  color: #09d3ac;
  font-size: 20px;
  font-weight: bold;
}

.field {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field label {
  font-weight: bold;
}

.field select {
  outline: none;
  min-width: 150px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}

.field input {
  outline: none;
  min-width: 250px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}

button[type=submit] {
  color: #09d3ac;
  border: 2px solid #09d3ac;
}

footer {
  background-color: #303846;
  color: #fff;
  padding: 60px 0;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.date {
  margin-top: 15px;
  color: darkgrey;
}

.footer-item h2 {
  font-weight: bold;
}

.footer-item .logo-img-wrap {
  height: 60px;
  width: 60px;
}

.menu-list {
  margin-top: 25px;
  padding-left: 40px;
  list-style: disc;
}

.menu-list li {
  margin-bottom: 10px;
}
